body{
    font-family: sans-serif;

    color: white;
    background-image: url("../imgs/wpp.jpg");
    background-size: cover;
}
.descricao {
    /* background-color: rgba(0, 255, 255, 0.534); */
    position: relative;
    top: 50px;
    left: 30px;
    width: 35vw;
    
}
.descricao p{
    text-align: justify;
}
.generos {
    width: 15vw;
    /* background-color: rgba(145, 255, 0, 0.479); */
    display: flex;
    justify-content: space-between;
}
.generos *{
    padding: 0 7px;
    border: 2px solid white;
    /* background-color: rgba(0, 0, 255, 0.452); */
    font-size: 15px;
    
}
div h1{
    margin: 0px ;
}

.buttons {
    margin-top: 30px;
    width: 50%;
    /* background-color: rgba(0, 128, 0, 0.37); */
    display: flex;
    justify-content: space-between;
}

.buttons button{
    color: white;
    padding: 4px 11px;
}

#btnWatch{
    background-color: red;
    border: none;
}
#watchEps{
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
}

.clips{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    padding-left:  14vw;
    padding-right: 3vw;
    height: 28vh;
    width: 100vw;
    /* background-color: rgba(255, 255, 0, 0.548); */
}
h3#titleClips{
    position: relative;
    bottom: -90px;
    margin-left: 14vw;
}