.clipsTab {
    position: relative;
    box-sizing: border-box;
    height: 170px;
    width: 200px;
    /* background-color: rgba(255, 68, 0, 0.452); */
}

.img {
    height: 70%;
    /* background-color: blue; */
}

.img.img1 {
    background-image: url("../imgs/clip1.jpg");
}

.img.img2 {
    background-image: url("../imgs/clip2.jpg");
}

.img.img3 {
    background-image: url("../imgs/clip3.jpg");
}

.img.img4 {
    background-image: url("../imgs/clip4.jpg");
}

.imgDesc {
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;

    /* background-color: palevioletred; */
    font-size: 13px;
}

.imgDesc p {
    margin: 0;
}