.navBar{
    height: 15vh;
    width: 100vw;
    /* background-color: rgba(255, 0, 0, 0.384); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#netflix {
    color: red;
}
.title {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* background-color: rgba(128, 0, 128, 0.61); */
    width: 20%;
    padding-top: 20px;
    left: 6vw;
}

.options {
    display: flex;
    padding-top: 20px;
}
.options *{
    margin: 0 70px;
}
.options *:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 2s;
    color: rgb(212, 2, 2);
}